{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header">Please sign in</h1>
    <form action="{{ url('login') }}" method="get">
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" name="username" class="form-control" placeholder="Username" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required="">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <br>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

    {% if data is not empty %}
        <h2>Form Submitted [{{ method }}]</h2>
        {{ dump(data) }}
    {% endif %}
{% endblock %}
